<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Your To-Do lists</h1>
        <form method="POST" accept-charset="utf-8">
        <input name="item_text" id="id_new_item" value="" placeholder="Enter a to-do item"/>
        {% csrf_token %}
        </form>
        <table border="0" id="id_list_table">
            <tr>
                <td>1: {{ new_item_text }}</td>
            </tr>
        </table>
    </body>
</html>
